/* ================ STYLE LABEL MODAL START ========================== */
.label {
  width: 100%;
  height: 40px;
  padding: 0px;
  margin-bottom: 12px;
  text-align: center;
  border-radius: 5px;
}

.label .label-box {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-in
}
.label .label-box:after {
  background: rgba(0, 0, 0, 0.2);
  content: '';
  height: 100%; 
  left: 0; 
  top: 0;
  border-radius: 5px 0 0 5px; 
  width: 0px;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: 1;
}
.label .label-box:hover span:nth-child(1){
  margin-left: 15px;
}
.label .label-box:hover:after{
  width: 5px;
}

/* Title of label */
.label .label-box span:nth-child(1) { 
  width: 75%;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 40px;
  transition: 0.2s ease 0s;
}
/* Icon of label */
.label .label-box .anticon {
  color: #ffff;
  text-align: center;
  line-height: 40px;
}

.label .label-btn {
  line-height: 40px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease 0s;
}
.label .label-btn:hover {
  background: rgba(9,30,66,.08);
}
/* ================ STYLE LABEL MODAL END ========================== */

.add-label {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  padding: 0px;
  margin-bottom: 12px;
  text-align: center;
  color: #000000;
  line-height: 40px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ebecf0;
  transition: 0.1s ease-in
}

.add-label:hover {
  background-color: #e3e4e9;
}

.ant-popover-inner-content .twitter-picker {
  box-shadow: none !important;
}

/* STYLE SCROLL BAR */
.list-label::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.list-label::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}