.kanban {
  font-family: sans-serif;
  text-align: center;
}
.react-trello-board {
  background: linear-gradient(#A3E5D4, #04A68F);
}

.react-trello-lane {
  background: #E5EFF5;
}

.smooth-dnd-container.vertical::-webkit-scrollbar {
  width: 12px;
	background-color: #F5F5F5;
}
.smooth-dnd-container.vertical::-webkit-scrollbar-thumb{
  border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #555;
}

/* ====================== CARD STYLE START ===========================*/
.trello-card {
  color: #4d4d4d;
  text-decoration: none;
  margin: 0px auto 8px auto;
  /* Trello css */
  font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
  min-width: 240px;
  max-width: 316px;
  line-height: 18px;
  position: relative;
}
.trello-card--labels {
  overflow: auto;
  position: relative;
}
.trello-card--labels-text {
  color: #fff;
  background-color: #efefef;
  border-radius: 4px;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  margin: 0 4px 4px 0;
  min-width: 40px;
  max-width: 198px;
  overflow: hidden;
  padding: 0 6px;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: none;
  width: auto;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}
.trello-card--labels-text.modal {
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  line-height: 32px;
  margin: 0 4px 4px 0;
  min-width: 50px;
  padding: 0 12px;
  width: auto;
  color: #ffff;
}

.trello-card--labels.modal.add{
  display: block;
  float: left;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 4px 4px 0;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
}
.trello-card--labels.modal.add:hover {
  background: rgba(0, 0, 0, 0.1);
}

.trello-card:hover .trello-card--content {
  background-color: #f4f5f7;
}

.trello-card:hover .trello-card--btn {
  display: block;
}

.trello-card--btn {
  display: none;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  position: absolute;
  top: 5px;
  left: 220px;
  line-height: 25px;
  color: #999999;
  cursor: pointer;
  transition: 0.2s ease;
  z-index: 4;
}

.trello-card--btn:hover {
  background: #dfdfdf;
}
.trello-add-card--btn:hover {
  background-color: rgba(9,30,66,.08);
  color: #172b4d;
}
.trello-add-label--btn {
  background: rgba(0, 0, 0, 0.06)
}
.trello-add-label--btn:hover {
  background-color: rgba(0,0,0,0.1);
  color: #172b4d;
}

.trello-card--content {
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  clear: both;
  min-height: 20px;
  max-width: 250px;
  padding: 6px 8px 6px;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
}
.trello-card--title {
  color: #4d4d4d;
  margin: 8px auto;
}
.trello-card--badges {
  display: flex;
  float: left;
  max-width: 100%;
  margin-top: 5px;
}

.trello-card--badges-item {
  height: auto;
  padding: 5px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.trello-card--members {
  margin-top: 5px;
}
.trello-card--members ul {
  display: flex;
  float: right;
  list-style-type: none;
}
.trello-card--member {
  border-radius: 50%;
  background-color: #63ccbc;
  display: block;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
  width: 32px;
  user-select: none;
}
.trello-card--member img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
}
.trello-card--board-title {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-top: 8px;
}

/* ====================== CARD STYLE END ===========================*/
/* ====================== TASK MODAL STYLE START ===========================*/
.task-modal .task-content{
  margin-top: 5px;
  margin-bottom: 10px;
}

.task-modal .ant-typography {
  font-size: 12px;
  text-transform: uppercase;
}

.task-modal .task-content.due-date .detail-box {
  display: inline-block;
  padding: 0px 12px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #ffff;
  border-radius: 3px;
}

.task-content .description {
  background: rgba(9,30,66,.04);
}
.task-content .description:hover {
  background: rgba(9,30,66,.08);
}

.task-modal .task-content .checklist-content {
  display: flex;
  align-items: center;
  height: 38px;
  border-radius: 5px;
}
.task-modal .task-content .checklist-content:hover {
  background: rgba(9,30,66,.04)
}
.task-modal .task-content .checklist-content:hover .button-edit-checklist{
  display: block;
}
.task-modal .task-content .checklist-content .button-edit-checklist {
  cursor: pointer;
  display: none;
  float: right;
  border-radius: 5px;
  text-align: center;
  height: 38px;
  width: 38px;
  line-height: 38px;
}
.task-modal .task-content .checklist-content .button-edit-checklist:hover {
  background-color: rgba(9,30,66,.08);
}

.button-add-to-card {
  background-color: rgba(9,30,66,.04);
  box-shadow: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 32px;
  width: 100%;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
}
.button-add-to-card:hover {
  background-color: rgba(9,30,66,.08);
  box-shadow: none;
  border: none;
}
.button-remove--member {
  width: 200px;
  padding: 6px;
  cursor: pointer;
}
.button-remove--member:hover {
  background: rgba(9,30,66,.04);
}

.task-modal-popover--member {
  padding: 10px 0
}
/* ====================== TASK MODAL STYLE END ===========================*/
@media (max-width: 1200px) {
  .spenttime {
    margin-left: 0px !important
  }
}
@media (max-width: 992px) {
  .spenttime {
    margin-left: 0px !important
  }
}
/* ====================== STYLE ATTACHMENT START ========================= */
.task-content .media {
  display: flex;
  align-items: center;
  min-height: 100px;
  cursor: pointer;
  border-radius: 5;
  background: rgba(9,30,66,.04);
}

.task-content .media:hover {
  background: rgba(9,30,66,.04);
}

.edit-column-btn {
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.edit-column-btn:hover {
  background: rgba(9,30,66,.04)
}
/* ====================== STYLE ATTACHMENT END ========================= */