
/* Header Style Start
 =================================================== */
.menuBar{
  height: 66px;
  background-color: #fff;
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: hidden;
  /* box-shadow: 0 0 30px #f3f1f1; */
}
.menuBar .btn-search-a{
  display: none
}
.menuBar .right-menu-item
{
  cursor: pointer;
}

@media(max-width: 992px){
  .nav-input-search{
    display: none
  }
  .menuBar .btn-search-a{
    display: inline;
  }
}

/* Header Style End
 =================================================== */
/* Sidebar Style Start
 =================================================== */
.side-bar {
  font-family: 'Roboto'
}
.side-bar .ant-menu-item {
  padding-left: 30px;
}
/* Sidebar Style End
 =================================================== */
/* Layout Style Start
 =================================================== */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}
#components-layout-demo-side .logo {
    height: 65px;
    background: #64CCBD;
    background-image: url('./../../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:16px
  }

.side-bar{
    -webkit-box-shadow: -9px 12px 41px -14px rgba(0,0,0,0.44);
    -moz-box-shadow: -9px 12px 41px -14px rgba(0,0,0,0.44);
    box-shadow: -9px 12px 41px -14px rgba(0,0,0,0.44);
}
.menu-item-group.non-collapse
{
  box-shadow: inset 0px 11px 8px -10px #CCC,
            inset 0px -11px 8px -10px #CCC;
}


.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 40px;
  border: none;
}

.btn-search{
  font-size: 20px;
  color: #CCC;
  transition: 0.5s ease-out
}

.btn-search:hover{
  color: rgba(0, 0, 0, 0.65)
}

#logo{
  float: left;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}

.my-logo img{
  height: 30px;
  margin-right: 16px;
  transition: 0.3s ease-in;
}

.my-logo.collapse img:first-child{
  height: 35px;
  margin-left:5px
}

.my-logo.collapse img:last-child{
  visibility: hidden;
}

img{
  vertical-align: middle;
}

.right-menu-item{
  line-height: 3;
}
/* Layout Style End
 =================================================== */ 
