.board {
    background: linear-gradient(#A3E5D4, #04A68F);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(74,115,159,0.29);
    cursor: default;
    font-size: 1rem;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 18px;
    position: relative;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.board .header {
    overflow: auto;
    padding-bottom: 1rem;
}
.board .header .title {
    float: left;
}
.board .header .title h3 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin: 0;
}
.board .title h3, .board .lists .add-list {
    background: rgba(11,86,139,0.25);
    border-radius: 6px;
    color: white;
    padding: 9px 15px;
}
.board .lists {
    min-width: 1000px;
    overflow: auto;
}
.board .lists .list {
    float: left;
    margin: 0 10px 5px 0;
    width: 230px;
}
.board .lists .list .list-content {
    background-color: #E5EFF5;
    border-radius: 6px;
    box-shadow: 0,2px,4px,rgba(0,0,0,0.5);
    padding: 8px;
}
.board .lists .list .list-content h5 {
    font-size: 1rem;
    letter-spacing: .5px;
    margin: 0 0 8px 3px;
}
.board .lists .list .list-content .card {
    /* background-color: #CCDCE6; */
    border-radius: 4px;
    font-size: .9rem;
    margin-bottom: 8px;
    min-height: 33px;
    position: relative;
    overflow: hidden;
}
.board .lists .list .list-content .card .card-content {
    background-color: #fff;
    padding: 6px 8px;
    min-height: 33px;
}
.board .lists .list .list-content .card .card-content .labels {
    overflow: auto;
    margin: 4px 0;
}
.board .lists .list .list-content .card .card-content .description {
    margin-bottom: 14px;
}
.board .lists .list .list-content .card .card-content .card-users {
    bottom: 7px;
    position: absolute;
    right: 7px;
}
.board .lists .list .list-content .card .card-content .labels .label.label-blue {
    background-color: #00C2E0;
}
.board .lists .list .list-content .card .card-content .labels .label.label-red {
    background-color: #EB5A46;
}
.board .lists .list .list-content .card .card-content .labels .label.label-purple {
    background-color: #C377E0;
}
.board .lists .list .list-content .card .card-content .labels .label {
    border-radius: 3.5px;
    height: 7px;
    margin-right: 5px;
    width: 30px;
}
.board .lists .list .list-content .card .card-content .card-users .user {
    height: 28px;
    margin-left: 5px;
    width: 28px;
    border-radius: 50%;
    background-color: #A3E5D4;
}

.board .user img{
    height: 28px;
}

.board .user {
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 38px;
    width: 38px;
}
.board .lists .list .list-content .add-card {
    color: #aaa;
    font-size: .9rem;
    margin: 0 0 5px 5px;
}